
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
.env
.venv
venv/
ENV/
.envrc
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
# VS Code
.vscode/
# OS
.DS_Store
Thumbs.db

# Project
recordings/
nvethernetrm/
nvidia-oot/

# Secrets and API Keys
.secrets/
*.key
*.secret
**/.secrets/
